.container { 
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 20px;
}

.wrapper  {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.commentContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  gap: 5px;
  border-bottom: 2px solid rgb(0, 0, 0, 0.7);
}

.author {
  font-size: 1.35rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.comment {
  font-size: 1.15rem;
  margin: 0;
}

.blog {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}



