.wrapper {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;

  &.small{ 
    padding: 7.5px 15px;
    font-size: 12px;
  }
}

.button:hover,
.button:focus {
  opacity: .75;
}

