.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: space-around;
    align-items: center; 
    padding: 50px 20px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
    border-radius: 10px;
}

.blog:hover .linethrough {
    border-color: red;
}

.image{
    border-radius: 10px;
    aspect-ratio: 1;
    width: 100%;
}


.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.paragraphWrapper {
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.2;
}

.paragraph {
    font-size: 1rem;
    word-wrap: break-word;
}

.tagWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.tag {
    text-decoration: none;
    font-weight: 700;
    letter-spacing:1.2px;
    color: red;
}

.linethrough {
    width: 100%;
    border: 1px solid black;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


@media screen and (min-width: 1065px) and (max-width: 1585px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1065px) {
    .container {
        grid-template-columns: 1fr;
    }
}