* {
  box-sizing: border-box;
}

body {
  color: #000;
  background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-picture-image_1250295.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto';
}

.contentWrapper {
  max-width: 85%;
  margin: 0 auto; 
  padding: 150px 0; 
  background-color: white;
  min-height: 100vh;
}

.blogDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}